.button {
  display: inline-block;
  font-size: $font-size-large;
  color: #FFFFFF;
  background: $blue;
  border: none;
  font-weight: 300;
  padding: $s-size;
  line-height: 1;
  text-decoration: none;
  &:hover {
    background: lighten($blue, 5%);
  }
}

.button__link {
  background: none;
  border: none;
}

.button--secondary {
  background: #888888;
  &:hover {
    background: lighten(#888888, 5%);
  }
}